* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face { 
    font-family:"Circular";
    src: url("circular_std.otf") /* TTF file for CSS3 browsers */
}

body {
    width: 100vw;
    background: #191919;
    font-family: 'Circular', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #fff;
}

section {
    position: relative;
    flex: 1;
    overflow-y: scroll;
    /* height: calc(100vh - 33.4px); */
}

.title-bar {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    padding: 10px;
    background: #0d2cda;
    color: #fff;
    /* font-weight: 700; */
}

.btns {
    display: flex;
}

.btn {
    background: #fff;
    color: #0d2cda;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.notes-list {
    /* font-weight: 600; */
    font-size: 1.4rem;
    background: #191919;
    color: #fff;
}

.notes-list li {
    list-style: none;
    padding: 14px 15px;
    border-bottom: 1px solid #fff5;
}

.edit-window {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #191919;
    display: flex;
    flex-direction: column;
}

input, textarea {
    all: unset;
    font-size: 1.4rem;
    margin: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
}

textarea {
    flex: 1;
}