* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face { 
    font-family:"Circular";
    src: url("circular_std.otf")
}

@font-face { 
    font-family:"Book";
    src: url("circular_std_book.otf")
}

:root {
    --button-size: 1.3rem;
    --color: #12a375;
    --font-n: 'Book', sans-serif;
    --font-b: 'Circular', sans-serif;
}

body {
    width: 100vw;
    background: #191919;
    font-family: var(--font-b);
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #fff;
}

section {
    position: relative;
    flex: 1;
    overflow-y: scroll;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 12px;
    background: var(--color);
    color: #fff;
}

.title {
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: .5rem;
}

.btns {
    display: flex;
}

.btns img {
    height: 100%;
    width: 100%;
    fill: #fff;
}

.btn {
    height: var(--button-size);
    width: var(--button-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#edit-btn, #save-btn {
    margin: 0 19px;
}

.empty-message {
    text-align: center;
    margin-top: 60px;
    color: #fff8;
    font-size: 1.1rem;
}

.notes-list {
    font-family: var(--font-n);
    font-size: 1.4rem;
    background: #191919;
    color: #fff;
}

.notes-list li {
    list-style: none;
    padding: 14px 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.185);
}

.edit-window {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #191919;
    display: flex;
    flex-direction: column;
    transform: scale(0);
    transform-origin: bottom;;
    transition: transform .1s ease-in;
}

.edit-window.show {
    transform: scale(1);
    transition: transform .1s ease-out;
}

input, textarea {
    all: unset;
    font-family: var(--font-n);
    font-size: 1.4rem;
    margin: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
}

textarea {
    flex: 1;
    white-space: pre-wrap;
}